.container {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 30% !important;
  overflow: scroll;
  height: 50%;
}

td {
  width: 100%;  
}

.wrapper {
  width: 20em !important;
}

table {
  border-collapse:separate;
  border:solid black 1px;
  border-radius: 1em;
}
