.parkingSpot {
    border: 2px solid black;
    border-radius: 1.5em;
    text-align: center;
    line-height: 9em;
    width: 100%;
    font-size: 1.5em;
}

.emptySpot {
    background-color: white !important;
    height: 10em;
    width: 6.5em;
}


.available {
    background-color: gray;
}

.unavailable {
    background-color: rgba(153, 115, 235, 0.759);
}

.taken {
    background-color: rgb(219, 70, 70);
}
 
.beingTaken {
    background-color: rgb(196, 196, 0);
}
 
.reserved {
    background-color: rgb(29, 126, 29);
}

.modal {
    width: 50%;
    height: 50%;
    margin: auto;
    position: relative;
    top: 25%;
    left: 25%
}

.modalText {
    color: var(--blue) !important;
    word-wrap: break-word !important;
}

.modalDescription {
    font-size: 16px;
    color: var(--blue) !important;
    word-wrap: break-word !important;
    margin: auto;
}

.unavailableModal {
    width: 35em !important;
    height: 18em;
    margin: auto;
    position: relative;
    top: 35%;
    left: 35%;
}

.availableModal {
    width: 45% !important;
    height: 40%;
    margin: auto;
    position: relative;
    top: 25%;
    left: 25%;
}

.takenModal {
    width: 35% !important;
    height: 23%;
    margin: auto;
    position: absolute;
    top: 38%;
    left: 33%;
}

.reservedModal {
    width: 35%;
    height: 25%;
    position: absolute;
    top: 35%;
    left: 35%;
}

.beingTakenModal {
    width: 45% !important;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 25%;
    left: 25%;
}

.actions {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.modalLabel {
    color: var(--blue);
    margin: auto;
    padding: auto;
    position: relative;
    right: 1em;
}

.datetimeSelect {
    margin: 3em 0 0 2em;
}

.datetime {
    margin-left: 0.5em;
    margin-bottom: 2em;
}

.successModal {
    width: 35em !important;
    height: 9em;
    position: absolute;
    top: 35%;
    left: 40%;
}

.adminModal {
    width: 40% !important;
    height: 30%;
    margin: auto;
    position: relative;
    top: 35%;
    left: 35%;
}

@media (max-width:1300px) { 
    .parkingSpot {
        border: 2px solid black;
        border-radius: 1.5em;
        text-align: center;
        line-height: 7em;
        width: 100%;
        font-size: 1.5em;
    }   
    
    .emptySpot {
        background-color: white !important;
        height: 7em;
        width: 6em;
    }

    .takenModal {
        width: 50% !important;
        height: 25%;
        margin: auto;
        position: absolute;
        top: 35%;
        left: 30%;
    }
    
    
    .reservedModal {
        width: 45% !important;
        height: 25%;
        position: absolute;
        top: 35%;
        left: 30%;
    }
} 
