.config {
    position: absolute;
    top: 15%;
    left: 15%;
    border: 1px solid gray;
    width: 55.35%;
    height: 4em;
    text-align: center;
}

.label {
    padding: 1em;
    font-size: 1.2em;
    position: relative;
    top: 10%;
}

.dropdown {
    text-align: right;
    font-size: 1.3em;
    border-radius: 0px !important;

}

.datetime {
    width: 25em;
}